@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  width: calc(50% - theme(spacing.2));
}

.sidebar {
  height: calc(100% - 60px);
}

.reviews {
  width: calc(100% + 15px);
}
.noReviews {
  width: calc(100% + 17px);
}
.dash-load {
  width: 100%;
  padding-left: 20%;
  height: 100vh;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-moz-search-cancel-button {
  display: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .stock {
  width: calc(100% - theme(spacing.10));
} */
