@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  width: calc(50% - theme(spacing.2));
}

.sidebar {
  height: calc(100% - 60px);
}

.reviews {
  width: calc(100% + 15px);
}
.noReviews {
  width: calc(100% + 17px);
}


/* .stock {
  width: calc(100% - theme(spacing.10));
} */
